body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1200px;
}
heading {
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
heading a:link {
  color: inherit;
  display: block;
  padding: 3em 1em;
  text-decoration: none;
}
nav {
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: block;
  margin: 0;
  padding: 0;
}
nav ul li {
  color: cadetblue;
}
main {
  display: flex;
}
svg {
  height: 16px;
  width: 16px;
}
.vcard a:link,
.vcard a:visited,
.vcard a:hover,
.vcard a:focus,
.vcard a:active {
  text-decoration: none;
}
